<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>sgp</display-name>
	<servlet>
		<servlet-name>ListerCollaborateursController</servlet-name>

		<servlet-class>dev.sgp.web.ListerCollaborateursController</servlet-class>

	</servlet>

	<servlet>
		<servlet-name>CreerCollaborateurController</servlet-name>

		<servlet-class>dev.sgp.web.CreerCollaborateurController</servlet-class>

	</servlet>

	<servlet>
		<servlet-name>EditerCollaborateurController</servlet-name>

		<servlet-class>dev.sgp.web.EditerCollaborateurController</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>ListerCollaborateursController</servlet-name>
		<url-pattern>/collaborateurs/lister</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>EditerCollaborateurController</servlet-name>
		<url-pattern>/collaborateurs/Editer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreerCollaborateurController</servlet-name>
		<url-pattern>/collaborateurs/Creer</url-pattern>
	</servlet-mapping>
	
	<filter>
<filter-name>EncodeFilter</filter-name>
<filter-class>dev.sgp.filtre.EncodeFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>EncodeFilter</filter-name>
<url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>
